
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-outlined{
   font-size: 1.1em;
   margin-left: 0%;
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48

}
.pres{
    background-image: url('../assets/back.jpg');
    background-size: cover;
    color:white;
    height:60%;
    text-align: center;
    background-position: center; 
    animation: moveBackground 15s ease infinite;
    
}
@keyframes moveBackground {
    0% {
        background-size: 100%;
      }
      50% {
        background-size: 150%;
      }
      100% {
        background-size: 100%;
      }
    }

.pres_text{

    text-align: center;
    padding-top: 7%;
}
.text-on-image {
   
    padding-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 2.5em;
    /* transform: translate(-50%, -50%); */
    font-size: 3em;
    color:white;
    
}

p{
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
   
    
}
.desc h1{
    text-align: left;
    margin-left: 5%;
}
.desc p{
    text-align: left;
    margin-left: 5%;
}
.desc{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    background-color: ghostwhite;
  
}
.servi{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}
.servi img{
    height:80px;
    border-radius: 10px
}
.servic{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}


.servic img{
    height:200px;
    border-radius: 10px;
    
}
.servic h1{
    font-size: 1.7em;
    font-weight: 500;
}


.servic1 , .servic2, .servic3, .servic4{
    flex: 1;
    margin: 0 12px;

}
.servi1 , .servi2, .servi3, .servi4, .servi5, .servi6{
    flex: 1;
    margin: 0 12px;

}
.servi1 img{
    animation: zoom 5s infinite alternate ease-in-out;
}
.servi2 img{
    animation: zoom1 5s infinite alternate ease-in-out;
}
.servi3 img{
    animation: zoom 5s infinite alternate ease-in-out;
}
.servi5 img{
    animation: zoom 5s infinite alternate ease-in-out;
}
.servi6 img{
    animation: zoom2 5s infinite alternate ease-in-out;
}
@keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  @keyframes zoom1 {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.4);
    }
  }
  @keyframes zoom2 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
.cont1 , .cont2, .cont3{
    flex: 1;
    margin: 0 16px;

}
.cont2 h1{
   font-size: 1.5em;
   
}
.cont2 ul{
    font-size: 1.1em;
    list-style: none; /* Style de puce rond */
    color: red; 
    margin-left: 0%;
    left: 0%;
    text-align: left;
}
li{
   text-align: left;
   color: black; 
   padding-left: 0%;
}
.cont1 p{
    font-size: 1.2em;
}

.cont3 img{
    height:240px;
    width:320px;
    border-radius: 50px 10px 30px 10px;
    margin-top: 5%;
    transform: translate(0, 0);
    transition: transform 0.3s ease;
   
}
.cont3 img:hover{
    transform: scale(1.2); 
}
.cont3{
    text-align: center;
}
span{
    color:red;
}
@media only screen and (max-width: 700px) {
    
      .cont1 , .cont2, .cont3{
       width:100%;
    
    }
    .servi1 , .servi2, .servi3, .servi4, .servi5, .servi6{
        flex: 1;
        margin: 0 60px;
       
    
    }
   
    .ervd{
        text-align: left;
        padding-left: 10%;

    }
    .erv p{
        font-size:1em;
        text-align:left;
       
      }

}
@media only screen and (min-width: 700px) {
    .cont3 img{
        
        margin-top: 0%;
        height:300px;
        width:380px;
       
       
    }
    
    .desc{
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .cont2 h1{
        margin-left: 11%;
     }
     .text-on-image {
        margin-left: 20%;
        margin-right: 20%;
        
        
    }
   
   
  }
  
  .servic p{
    margin-left:0px;
    text-align:left;
  }
  .co{
    color:red;
    font-weight: 9000;
  }
 
  .cot1{
    background-color:green  ;
    color:white;
  }
  .erv p{
    font-size:1em;
   
   
  }
  .erv{
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .er{
    margin-top: 6%;
    margin-bottom: 6%;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  
  